extends layout

block content
  h1= title
  each folder, i in folders 
    h3 #{folder.title} 
    each recipe, i in folder.recipes
      p #{recipe.title}
      p #{recipe.url} 
      p #{recipe.img}