extends layout

block content
  h1= title
  div(class="wrapper")
  each folder, i in folders 
    div(id=folder._id, class="folder")
        h3 #{folder.title} 
        div(class="title-wrapper")
          h4 shared with #{folder.owners}
        form(action="/shareFolder", method="post", class="form-inline")
            input(type="text", name="sharer", placeholder="Friend's Email", class="input-small")
            input(type="hidden", name="folder", value=folder._id, class="input-small")
            input(type="hidden", name="email", value=email, class="input-small")
            input(type="submit", value="Share Folder", class="shareFolder btn")
        form(action="/deleteFolder", method="post", class="form-inline")
            input(type="hidden", name="userEmail", value=email)
            input(type="hidden", name="folder", value=folder._id)
            input(type="submit", value="Delete Folder", class="deleteFolder btn")
        each recipe, i in folder.recipes
          div(class="recipe-card")
            div(class="title-wrapper")
              h4 #{recipe.title}
              form(action="/removeRecipe", method="post")
                input(type="hidden", name="recipe", value=recipe._id)
                input(type="hidden", name="userEmail", value=email)
                input(type="submit", value="Remove Recipe", class="deleteRecipe btn")
              form(action="/addNote", method="post")
                input(type="text-area", name="note")
                input(type="hidden", name="recipe", value=recipe._id)
                input(type="hidden", name="userEmail", value=email)
                input(type='submit', value="Add a Note")
              ul
                h3= "Notes"
                each note, i in recipe.notes
                  li
                    h4(style="text-align: left") #{note}
            a(href="#{recipe.url}")
              img(src="#{recipe.img}", width="150px", height="150px")